body {
	background-color: #f0f0f0;
	font-family: 'Droid Sans', sans-serif;
}

.container {
	margin: 50px auto 0 auto;
	width: 1280;
}

p { width: 600px; }

#viewport {
	margin-bottom: 20px;
}

.button {
	background-color: #e2001a;
	border-radius: 4px;
	padding: 7px 12px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}